<md-content layout="row">
    <md-subheader class="md-primary">Classified
        <md-badge class="md-raised md-button md-primary">{{counter.loaded}}</md-badge>
        <span ng-hide="!counter.hasMore">...</span>
        <md-tooltip>
            <span ng-hide="!counter.hasMore">Scroll to discover more items</span>
            <span ng-hide="counter.hasMore">These are all items</span>
        </md-tooltip>
        </span>
        <md-icon class="md-primary md-raised" ng-show="counter.filtered">filter_list
            <md-tooltip>Content filtered</md-tooltip>
        </md-icon>
    </md-subheader>
    <group-by grouping="groupBy"></group-by>
</md-content>
<md-content layout="row">
    <file-list data="data" counter="counter" type="classified" grouping="groupBy" flex-sm="100" flex-md="50"></file-list>
    <file-detail file="data" flex-sm="100" flex-md="50"></file-detail>
</md-content>
