<md-input-container layout-gt-sm="row">
    <md-radio-group id="filter" name="filter" ng-model="$ctrl.grouping" layout="row">
        <md-radio-button value="expirationDate" class="md-primary">{{'grouping.expiration-date'|translate}}</md-radio-button>
        <md-radio-button value="origin" class="md-primary">{{'grouping.service-name'|translate}}</md-radio-button>
        <md-radio-button value="type" class="md-primary">{{'grouping.file-type'|translate}}</md-radio-button>
        <md-radio-button value="filename" class="md-primary">{{'grouping.file-name'|translate}}</md-radio-button>
    </md-radio-group>
</md-input-container>
