<md-content>
    <md-subheader class="md-primary">Inbox
        <md-badge class="md-raised md-button md-primary">{{counter.loaded}}</md-badge>
        <span ng-hide="!counter.hasMore">...</span>
        <md-tooltip>
            <span ng-hide="!counter.hasMore">Scroll to discover more items</span>
            <span ng-hide="counter.hasMore">These are all items</span>
        </md-tooltip>
    </md-subheader>
</md-content>
<md-content layout-xs="column" layout-gt-sm="row">
    <file-list data="data" counter="counter" flex-xs="100" flex-gt-sm="50"></file-list>
    <file-detail file="data" flex-xs="100" flex-gt-sm="50"></file-detail>
</md-content>
