<md-content layout="row">
    <md-subheader class="md-primary">Favorites
        <md-badge class="md-raised md-button md-primary">{{counter.loaded}}</md-badge>
        <span ng-hide="!counter.hasMore">...</span>
        <md-tooltip>
            <span ng-hide="!counter.hasMore">Scroll to discover more items</span>
            <span ng-hide="counter.hasMore">These are all items</span>
        </md-tooltip>
    </md-subheader>
</md-content>
<md-content layout="row">
    <file-list data="data" counter="counter" type="starred" flex-sm="100" flex-md="50"></file-list>
    <file-detail file="data" flex-sm="100" flex-md="50"></file-detail>
</md-content>
