<md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4" tabindex="-1">
    <md-toolbar class="md-theme-indigo _md _md-toolbar-transitions">
        <h1 class="md-toolbar-tools">Disabled Backdrop</h1>
    </md-toolbar>
    <md-content layout-margin="" class="layout-margin _md">
        <p>
            This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
        </p>
        <!--
<button class="md-accent md-button md-ink-ripple" type="button" ng-click="toggleLeft()"><span class="ng-scope">
          Close this Sidenav
        </span>
</button>
-->
        <md-button class="md-accent md-button md-ink-ripple" aria-label="Settings" ng-click="toggleLeft()">
            <span class="ng-scope">Close this Sidenav</span>
        </md-button>
    </md-content>
</md-sidenav>
<md-content flex="" tabindex="-1">
    <!--    <md-content flex="" layout="row" tabindex="-1">-->
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
                <i class="material-icons">menu</i>
            </md-button>
            <h2>
                <a href="#"><i class="material-icons">spa</i>
                    <span>E-Invoice</span>
                </a>
                </h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Favorite" ng-click="toggleLeft()">
                <i class="material-icons">home</i>
            </md-button>
            <md-button class="md-icon-button" aria-label="More">
                <i class="material-icons">toc</i>
            </md-button>
            <md-button class="md-icon-button" aria-label="Favorite" ng-click="refreshData()">
                <i class="material-icons">autorenew</i>
            </md-button>
            <md-switch ng-model="showDetail" aria-label="Info" ng-change="toggleDetail(showDetail)">
                Info
            </md-switch>
            <google-login></google-login>
        </div>
    </md-toolbar>
</md-content>
<md-content layout="column">
    <main-tabs></main-tabs>
</md-content>
<!--
<header></header>
<div class="content">
    <side-menu></side-menu>
    <main-tabs></main-tabs>
</div>
<footer></footer>
-->
