/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li + li:before {
    content: "|";
    padding-right: 0.3em;
}

form.tab-form-demo .tab-pane {
    margin: 20px 20px;
    /*border: 1px red dashed;*/
}

.content {
    /*border: 1px blue dashed;*/
    height: 320px;
}

side-menu {
    /*border: 1px green dashed;*/
    width: 220px;
    display: inline-block;
    background-color: rgba(0, 128, 0, 0.17);
    height: 100%;
    float: left;
}

footer {
    position: absolute;
    bottom: 0px;
}

main-tabs {
    /*border: 1px red dashed;*/
    display: inline-block;
    height: 100%;
    width: 80%;
}

.navbar-brand {
    color: green!important;
}

.navbar-brand .glyphicon {
    color: inherit;
}

.sidebar-nav > ul.nav > li > ul {
    height: 0px;
    -webkit-transition: height 0.8s ease-in-out;
    -moz-transition: height 0.8s ease-in-out;
    -ms-transition: height 0.8s ease-in-out;
    transition: height 0.8s ease-in-out;
    overflow-y: hidden;
    /*    border: 1px red dashed;*/
}

.sidebar-nav > ul.nav > li.active > ul {
    height: 270px;
    -webkit-transition: height 0.8s ease-in-out;
    -moz-transition: height 0.8s ease-in-out;
    -ms-transition: height 0.8s ease-in-out;
    transition: height 0.8s ease-in-out;
    /*    border: 1px red dashed;*/
}


/** Nav Tabs */

.tab-content {
    padding: 0px;
    /*border: 1px red dashed;*/
}

google-login {
    /*    width: 120px;*/
    /*    height: 50px;*/
    /*    border: 1px red dashed;*/
    padding: 0px;
}

google-login {
    width: 100px;
    height: 35px;
    /*border: 1px red dashed;*/
}

.md-button.google-sign-in {
    position: absolute;
    opacity: 1;
    transition: all .5s ease-in-out;
    background-image: url(resources/images/google-sign-in.png);
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    min-width: 100px;
    min-height: 25px;
    float: right;
}

.md-button.google-sign-in.ng-hide {
    width: 0px;
    height: 0px;
    opacity: 0;
}

.user-info > .picture {
    transition: all linear .5s;
    position: absolute;
}

.user-info > .picture >md-icon {
    font-size: 48px;
}

.user-info > .picture.signedIn {
    opacity: 0;
}

.user-info > .picture > img {
    height: 54px!important;
    width: 54px!important;
    border-radius: 50%;
}

content md-list {
    /*    width: 100%;*/
    height: 500px;
    overflow-y: scroll;
    float: left;
    transition: width 500ms ease-in-out;
    font-size: small;
}

.md-list-item-inner > p {
    text-overflow: ellipsis;
    min-width: 100px;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    font-size: small;
}

content md-card {
    /*    width: 0%;*/
    height: 500px;
    transition: all 500ms ease-in-out;
    /*    overflow-y: scroll;*/
    /*    display: inline-block;*/
    margin: 0px;
}

content md-card > md-card-title-text {
    font-size: small;
}

content md-card > md-card-content {
    /*border: 1px red dashed;*/
    transition: all linear 0.5s;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 1;
}

content md-card > md-card-content.ng-hide {
    height: 0px;
    opacity: 0;
}

content md-card > md-card-content ng-md-icon {
    /*    border: 1px red dashed;*/
    fill: rgba(119, 119, 119, 0.4);
    /*    stroke: rgba(119, 119, 119, 0.7);*/
}

content md-card > md-card-content ng-md-icon > svg {
    width: 60px;
    height: 60px;
}

md-list-item.active > div.md-button:first-child {
    padding: 0px 26px;
    background-color: rgba(158, 158, 158, 0.2);
    /*border: 1px red dashed;*/
}


/*define el contenedor del icono que mostrará el tipo de archivo*/

.file-type {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 0px 0px;
    margin-right: 3px;
}

md-list-item .file-type {}

md-card-title-text .file-type {
    /*    fill: rgba(119, 119, 119, 0.4);*/
    /*    padding: 10px 10px;*/
}

md-card-title-text .file-type ng-md-icon svg {
    fill: rgba(119, 119, 119, 0.4);
    margin: 5px;
}

md-card-title-text .file-type img {
    margin-left: 10px;
    margin-top: 10px;
}

md-toolbar:not(.md-hue-1),
.md-fab {
    fill: #fff;
}

.user-avatar {
    border-radius: 100%;
}


/**
Bug de material que aun no tiene un selectedItem color para destacar el item seleccionado.
https://github.com/angular/material/issues/3420
https://material.angularjs.org/1.1.0/api/directive/mdColors
*/

.md-toolbar-tools .md-button {
    min-width: 36px !important;
}

md-list-item.md-active {
    background-color: rgb(189, 189, 189);
}

md-list-item .file-type img {
    padding: 10px 10px;
}

.spinning {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(359deg);
    }
}
